version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: cdtp-backend
    ports:
      - "8000:8000"
    environment:
      - DB_USER=postgres
      - DB_HOST=db
      - DB_NAME=cdtp_health
      - DB_PASSWORD=secret
      - DB_PORT=5432
    depends_on:
      - db
    volumes:
      - ..:/app

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: cdtp_health
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../sql/schema.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
